doctype html
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title My WebApp - #{title}
    link(rel="stylesheet" href="css/app.css")
    script(src="../bower_components/modernizr/modernizr.js")
  body
    #intro
      h1 Foundation + Express = 
        span.subheader Boilerplate
    
    block content
    
    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/foundation/js/foundation.min.js")
    script(src="js/app.js")